{{yield}}
  {{#paper-list}}

   {{#each projects as |project|}}
   {{#paper-subheader}}{{project.projectName}}{{/paper-subheader}}
     {{#each project.tasks as |task|}}
       {{#paper-item class="md-1-line"}}
       <div class="md-list-item-text">
         <p>{{task.text}}</p>
       </div>
       <div class="md-secondary-container">
         {{paper-icon "navigate_next"}}
       </div>
     {{/paper-item}}
     {{/each}}
   {{/each}}

 {{/paper-list}}
 {{#paper-button iconButton=true onClick = (action "saveToDb")}}
   {{paper-icon "publish"}}
 {{/paper-button}}