{{!-- {{taskName}} --}}

    

    {{!-- {{#each selectedTasks as |tasks|}}
        {{#paper-item class="md-1-line"}}
            {{tasks.text}}
        {{/paper-item}}
    {{/each}} --}}
    {{!-- {{actionComponent}} --}}
    {{#paper-list}}
    {{#if showUpdatesAction}}
    {{!-- <p>SELECTED TASKS {{tabIndex}} {{actionComponent}} {{renderView}}</p> --}}
    
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO ACTIVITY PLAN
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO COMPLETED
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO SCHEDULED
    {{/paper-button}}
    {{/if}}

    {{#if showScheduledAction}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO ACTIVITY PLAN
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO COMPLETED
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO BACKLOGS
    {{/paper-button}}
    {{/if}}
    
    {{#if showBacklogsAction}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO ACTIVITY PLAN
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "addToActivityPlan")}}
        ADD TO SCHEDULED
    {{/paper-button}}
    {{/if}}

    {{!-- {{#if showSprintViewAction}}
    {{#paper-button raised=true onClick=(action "raisedButton")}}
        MARK AS COMPLETED
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "raisedButton")}}
        MARK AS PENDING
    {{/paper-button}}
    {{#paper-button raised=true onClick=(action "raisedButton")}}
        MARK AS NEW
    {{/paper-button}}   
    {{/if}} --}}
    
   
    {{/paper-list}}

