
{{#paper-sidenav-container class="inner-sidenav"}}
{{#paper-sidenav
	class="md-whiteframe-z2"
	name="left"
	open=leftSideBarOpen
	lockedOpen = false
  closeOnClick=false
	onToggle=(action (mut leftSideBarOpen)) }}
	{{#paper-toolbar as |toolbar|}}
     <div style="margin-left:30px">
		{{#paper-toolbar-tools}}Agiler
            {{#paper-button iconButton=true onClick=(action "toggleView")}}
              {{paper-icon "apps"}}
            {{/paper-button}}
    {{/paper-toolbar-tools}}
        </div>
	{{/paper-toolbar}}

<div class="sidenav-container">
{{#paper-list}}
	{{#paper-item class="md-2-line"}}
      <div class="md-list-item-text nav-route">
        <img src = {{image}} alt="no image" class="md-avatar" style="width:80px; height:80px">
      </div>
  {{/paper-item}}
  {{#paper-item class="md-2-line"}}
    {{username}}
  {{/paper-item}}
	{{paper-divider}}
  {{#if showView}}
	 {{activity-planner-sidenav-initiatives
   showUsers=(action "showUsers")
   navigate=(action 'navigateToInitiative')
   reRenderView=(action "reRenderView")}} 
   {{else}}
    {{activity-planner-sidenav-members
    members=members
    navigate=(action 'navigateToMembers')}}
   {{/if}}


  {{#paper-item class="md-1-line"}}
    Backlogs
  {{/paper-item}}
  {{#paper-item class="md-1-line"}}
    Scheduled Tasks
  {{/paper-item}}
  {{#link-to "sprintView"}}
  {{#paper-item class="md-1-line"}}
    Sprint Plan
  {{/paper-item}}
  {{/link-to}}  
{{/paper-list}}	 
</div>		
	{{/paper-sidenav}}

  {{#paper-toolbar class="fix-toolbar"}}
    {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
					{{#paper-button classNames="hide-xl" onClick=(action toggleAction) iconButton=true}}
						{{paper-icon "menu"}}
					{{/paper-button}}
    <h1>Agiler</h1>
				{{/paper-sidenav-toggle}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}


{{/paper-sidenav-container}}