{{yield}}
{{#paper-tabs
  stretch=true
  
  selected=selectedBasicTab
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  {{#tabs.tab }}
    Future Tasks
  {{/tabs.tab}}

  {{#tabs.tab }}
    Today's Tasks
  {{/tabs.tab}}
  
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedBasicTab) class="md-padding" as |current|}}
  {{#paper-list}}
    {{#paper-subheader}}
      {{#if current.tab}}
        {{#each scheduled as |category|}}
        <div ontouchStart={{action "selectBand" category}} 
            ontouchEnd={{action "unselectBand" category}} class="md-list-item-text">
      {{#paper-item class="md-1-line"  as |controls|}}
        
          <p >
            {{category.text}}
             
             </p>{{category.scheduled_For}}
         
        
        {{#if selected}}
        <div class="md-secondary-container ">
          {{controls.checkbox value=category.checked onChange=(action (mut category.checked))}}
        </div>
        {{/if}}
      {{/paper-item}}
      </div>
    {{/each}}
          {{paper-input class="flex" label="Reschedule Date" type="date" value=scheduled_For1 onChange=(action (mut scheduled_For1))}}
{{#paper-button  raised=true fab=true onClick=(action "reschedule")}}@{{/paper-button}}
      {{else}}
        {{#each scheduled_For_Render as |category|}}
        <div ontouchStart={{action "selectBand" category}} 
              ontouchEnd={{action "unselectBand" category}} class="md-list-item-text">
          {{#paper-item class="md-1-line"  as |controls|}}
            
              <p >
                {{category.text}}
                
               </p> {{category.scheduled_For}}
                
            
            {{#if selected}}
              <div class="md-secondary-container ">
                {{controls.checkbox value=category.checked onChange=(action (mut category.checked))}}
              </div>
            {{/if}}

          {{/paper-item}}
          </div>
        {{/each}}

            <div class="layout-row layout-align-center-end">
  {{paper-input class="flex" label="Reschedule Date" type="date" value=scheduled_For1 onChange=(action (mut scheduled_For1))}}
{{#paper-button raised=true fab=true onClick=(action "reschedule")}}@{{/paper-button}}
{{#paper-button raised=true fab=true onClick=(action "showPromptDialogAction")}}+{{/paper-button}}
{{#if showPromptDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closePromptDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-dialog-content}}
      {{paper-input placeholder="text"  value=text onChange=(action (mut text))}}
      {{paper-input placeholder="projectName"  value=projectName onChange=(action (mut projectName))}}
      {{paper-input class="flex" label="Schedule Date" type="date" value=scheduled_For onChange=(action (mut scheduled_For))}}

    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button raised=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button raised=true onClick=(action "ok")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
</div>
      {{/if}}
    {{/paper-subheader}}
  {{/paper-list}}
{{/liquid-bind}}

  
