{{yield}}

<div class="activity-plan-desktop" style="width:98vw">
  {{#if showButton}}
 {{#draggable-dropzone dropped="addTask"}}
{{#paper-card class="a" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Activity Plan{{/text.headline}}
          
         {{paper-divider}}

        {{#paper-list}}
        {{#each activityPlanTasks as |task|}}
  {{#paper-item}}{{task.text}} <p>@{{task.owner}}</p>{{/paper-item}} 
          {{/each}}
        {{/paper-list}}

{{paper-input textarea=true block=true label="Add Task" passThru=(hash rows=1 maxRows=5) disabled=isPublished
  value=input onChange=(action (mut input))}}
  {{#paper-button iconButton=true onClick=(action "add")}}
  {{paper-icon "send"}}
  {{/paper-button}}

  {{#paper-button iconButton=true onClick=(action "publishActivityPlan")}}
  {{paper-icon "publish"}}
  {{/paper-button}}

 

        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
    {{/draggable-dropzone}}



  {{else}}
   {{!-- {{#draggable-dropzone dropped="addTask"}} --}}
{{#paper-card class="a" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Activity Plan{{/text.headline}}
          
         {{paper-divider}}

        {{#paper-list}}
        {{#each activityPlanTasks as |task|}}
  {{#paper-item}}{{task.text}}{{/paper-item}} 
          {{/each}}
        {{/paper-list}}

{{paper-input textarea=true block=true label="Add Task" passThru=(hash rows=1 maxRows=5) disabled=isPublished
  value=input onChange=(action (mut input))}}
  {{#paper-button iconButton=true onClick=(action "add")}}
  {{paper-icon "send"}}

  {{/paper-button}}
  <p>Activity Plan is published for today!</p>
  {{!-- {{#paper-button iconButton=true onClick=(action "publishActivityPlan")}}
  {{paper-icon "publish"}}
  {{/paper-button}} --}}

        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
    {{!-- {{/draggable-dropzone}} --}}



    {{/if}}
</div>