{{outlet}}
{{#if isDesktopSprint}}
{{!-- <p>
    Desktop view
</p> --}}
{{#paper-toolbar class="fix-toolbar"}}
    {{#paper-toolbar-tools}}
      <h2>Today's Sprint</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{#paper-list}}

    {{#each model.payload.data.tasks as |task|}}
        {{#paper-item class="md-1-line"}}
            <div class="md-list-item-text">
                {{!-- <p>{{task.text}}</p> --}}
            {{!-- {{#if isPending}}
            {{paper-icon "av_timer"}}
            {{/if}} --}}
            {{!-- {{#if isCompleted}} --}}
            {{!-- <del>{{task.text}}</del> --}}
            {{!-- {{else}} --}}
            {{!-- {{task.text}} --}}
            {{!-- {{task.status}} --}}
            {{#if task.isComplete}}
                <del>{{task.text}}</del>
            {{else if task.isPending}}
                {{task.text}}{{paper-icon "av_timer"}}
            {{else if task.isNew}}
            {{task.text}}{{paper-icon "fiber_new"}}
            {{/if}}
            {{!-- {{/if}} --}}
                {{paper-divider}}
            </div>
            {{!-- <div class="layout-column layout-align-end-end"> --}}
           {{!-- {{#if task.new}} --}}
            {{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}

          {{#content.menu-item onClick=(action "markComplete" task)}}
           {{#paper-button}}
        {{paper-icon "done"}}      
        <span>Mark Complete</span>
        {{/paper-button}}
        {{/content.menu-item}}
        {{paper-divider}}
         {{#content.menu-item onClick=(action "markPending" task)}}
              {{#paper-button}}
        {{paper-icon "av_timer"}}      
        <span>Mark Pending</span>
        {{/paper-button}}
        {{/content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}
            {{!-- </div> --}}
        {{/paper-item}}
    
    {{/each}}
    
{{/paper-list}}
{{else}}
{{#paper-toolbar class="fix-toolbar"}}
{{#paper-toolbar-tools}}
<h2>Today's Sprint</h2>
{{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-list}}
{{#each model.payload.data.tasks as |task|}}

   {{#paper-item class="md-1-line" as |controls|}}

   <div class="md-list-item-text">

       <p ontouchStart={{action "selectBand" task}}
           ontouchEnd={{action "unselectBand" task}}>
               {{!-- {{task.text}} --}}
                {{#if selected}}
         <div class="md-secondary-container ">
           {{controls.checkbox value=task.checked onChange=(action (mut task.checked))}}
         </div>
       {{/if}}
      {{#if task.isComplete}}
      <div class="layout-row layout-align-space-around-center">
      <del>{{task.text}}</del>
      </div>

       {{else if task.isNew}}
       <div class="layout-row layout-align-space-around-center">
       <span>{{task.text}} {{paper-icon "fiber_new"}}</span>
       </div>

       {{else if task.isPending}}
       <div class="layout-row layout-align-space-around-center">
       <span>{{task.text}} {{paper-icon "av_timer"}}</span>
       </div>

       {{/if}}
           {{paper-divider}}
       </p>
       </div>




   {{/paper-item}}

       {{/each}}

   {{#if showSprintViewAction}}
   {{#paper-button raised=true onClick=(action "raisedButtonComplete")}}
       MARK AS COMPLETED
   {{/paper-button}}
   {{#paper-button raised=true onClick=(action "raisedButtonPending")}}
       MARK AS PENDING
   {{/paper-button}}
   {{/if}}
       {{/paper-list}}
{{/if}}



